.form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

body{
  color: dark grey;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #BC8F8F;
}

.table{
  border: solid #A52A2A;
  background: pink;
  width: 700px;
  height: 300px;
}

.list{
  text-align: center;
}
